---
- name: Replace Casino-App-99
  hosts: localhost
  gather_facts: false
  vars:
    vcenter_host: "{{ lookup('env', 'VCENTER_HOST') }}"
    vcenter_user: "{{ lookup('env', 'VCENTER_USER') }}"
    vcenter_password: "{{ lookup('env', 'VCENTER_PASS') }}"
    datacenter: "YOUR_DATACENTER"
    source_vm: "Casino-App-01"
    target_vm: "Casino-App-99"

  tasks:
    - name: Delete existing VM
      community.vmware.vmware_guest:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_password }}"
        validate_certs: false
        datacenter: "{{ datacenter }}"
        name: "{{ target_vm }}"
        state: absent
        force: true

    - name: Clone VM
      community.vmware.vmware_guest:
        hostname: "{{ vcenter_host }}"
        username: "{{ vcenter_user }}"
        password: "{{ vcenter_password }}"
        validate_certs: false
        datacenter: "{{ datacenter }}"
        name: "{{ target_vm }}"
        template: "{{ source_vm }}"
        state: poweredon
