---
- name: Rescan storage and create VMware datastore
  hosts: localhost
  gather_facts: false
  vars:
    vcenter_hostname: "{{ vcenter_hostname }}"
    vcenter_username: "{{ vcenter_username }}"
    vcenter_password: "{{ vcenter_password }}"
    cluster_name: "{{ cluster_name }}"
    naa_id: "{{ naa_id }}"
    datastore_name: "{{ datastore_name }}"
    validate_certs: false

  tasks:
    - name: Rescan HBA on all cluster hosts
      community.vmware.vmware_host_scanhba:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        cluster_name: "{{ cluster_name }}"
        refresh_storage: true
        validate_certs: "{{ validate_certs }}"
      delegate_to: localhost

    - name: Wait for storage rescan to complete
      pause:
        seconds: 10

    - name: Get ESXi hosts in cluster
      community.vmware.vmware_host_facts:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        cluster_name: "{{ cluster_name }}"
        validate_certs: "{{ validate_certs }}"
      register: esxi_hosts
      delegate_to: localhost
    
    - name: Select first connected host
      set_fact:
        target_host: "{{ esxi_hosts.ansible_facts.keys() | first }}"

    - name: Create VMFS datastore on NAA device
      community.vmware.vmware_host_datastore:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        esxi_hostname: "{{ target_host }}"
        datastore_name: "{{ datastore_name }}"
        datastore_type: 'vmfs'
        vmfs_device_name: "naa.{{ naa_id }}"  # Ensure naa. prefix
        vmfs_version: 6
        validate_certs: "{{ validate_certs }}"
      delegate_to: localhost
