####################################################################
# Example : LDEV  Playbook
####################################################################
- name: Logical Device Module
  hosts: localhost
  gather_facts: false
  collections:
    - hitachivantara.vspone_block.vsp

  tasks:
####################################################################
# Task 6 : Get one ldev with detailed info
####################################################################
    - name: Retrieve information about a specific LDEV
      hitachivantara.vspone_block.vsp.hv_ldev_facts:
        connection_info:
          address: "{{ storage_address }}"
          username: "{{ vault_storage_username }}"
          password: "{{ vault_storage_secret }}"
        spec:
          ldev_id: "{{primary_vol_id}}"
